body{
	background-color: #EEF1FF;
	font-family: 'Merriweather Sans',sans-serif;
	margin: 0px;
	text-align: center;
}

.top-container{
	padding-top: 6%;
	width: 40%;
	margin:  auto;
	padding-bottom: 1.5%;
}
.ProfilePhoto{
	border-radius: 50%;
	float: left;
}
.profile{
	padding-top: 1%;
	margin: auto;
	line-height: 2;
	clear: left;
	text-align: left;
}
.contact{
	color: #256D85;
	text-align: center;
}

.middle-container{
	width: 40%;
	margin: auto;
}

.bottom-container{
	padding-top:0.3125em;
	font-family: 'Merriweather', serif;
	
	}

hr{
	border-style: dotted none none none;
	border-color:  #AAC4FF;
	border-width: 4px;
	height: 0px;
	width: 2%;
	
}

h1{
	letter-spacing: 6.25%;
	margin: 0;
	font-family: 'Sacramento', cursive;
	font-size: 437.5%;
	font-weight: 100;
	color: #66BFBF;
	margin-bottom: 0;
}


h3{
	color: #0096FF;
	font-weight: 100;

}

h4{
	color: #0096FF;
	
}

a{
	color: #256D85;
}

a:hover{
	color: blue;
}

h5{
	font-weight: 100;
	
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 2rem;
}



#GSR{
	font-family: 'Pacifico', cursive;

}