body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #34495E;
}


/* Custom styles for icons */
.icon-container a {
	font-size: 2em; /* Increase icon size */
	margin: 0 15px; /* Add horizontal spacing */
	color: #AEB6BF; /* Default icon color */	
}

/* Optional: Change color on hover */
.icon-container a:hover {
	color: #ECF0F1; 
}


header {
	background-color: #34495E;
	color: #fff;
	padding: 40px 20px;
	text-align: center;
	position: relative;

}
header img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	top: 20px;
	right: 20px;
}
nav {
	margin: 20px;
	text-align: center;
}
nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
section {
	padding: 20px;
	margin: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	display: none;
}
#about {
	display: block;
}
footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.container {
	max-width: 800px;
	margin: auto;
}


.top-container{
	padding-top: 6%;
	width: 40%;
	margin:  auto;
	padding-bottom: 1.5%;
}
.ProfilePhoto{
	border-radius: 50%;
	float: left;
}
.profile{
	padding-top: 1%;
	margin: auto;
	line-height: 2;
	clear: left;
	text-align: left;
}
.contact{
	color: #256D85;
	text-align: center;
}


.middle-container{
	width: 40%;
	margin: auto;
}
.Teaching{
	text-align: left;
}

.bottom-container{
	margin-top:4em;
	font-size: 0.75rem;
}

hr{
	border-style: dotted none none none;
	border-color:  #AAC4FF;
	border-width: 4px;
	height: 0px;
	width: 2%;
	
}

h1{
	letter-spacing: 6.25%;
	margin: 0;
	font-family: 'Sacramento', cursive;
	font-size: 437.5%;
	font-weight: 100;
	color: #66BFBF;
	margin-bottom: 0;
}


h3{
	color: #0096FF;
	font-weight: 100;

}

h4{
	color: #0096FF;
	font-weight: 100;
	
}

a{
	color: #256D85;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.GSR{
	font-weight: 100;
	
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 2rem;
}



#GSR{
	font-family: 'Pacifico', cursive;

}
.subheadings{
	font-family: 'Pacifico', cursive;

}
